---
import type { BuiltinTheme, BundledLanguage, ShikiTransformer } from 'shiki'
import type { Themes } from '@lib/utils/code-to-html'
import { convertCodeToHtml } from '@lib/utils/code-to-html'

interface Props {
  code: string
  lang: BundledLanguage
  theme: BuiltinTheme | Themes
  defaultColor?: string
  cssVariablePrefix?: string
  transformers?: ShikiTransformer[]
  lineNumbers?: boolean
}

const {
  code,
  lang,
  theme,
  defaultColor,
  cssVariablePrefix,
  transformers = [],
  lineNumbers = false
} = Astro.props

const html = await convertCodeToHtml(
  code.trim(),
  lang,
  theme,
  transformers,
  defaultColor,
  cssVariablePrefix
)
---

<div class="code-block-wrapper border border-gray-100 rounded-xl">
  <div
    class:list={['shiki--code--block', { 'with-line-numbers': lineNumbers }]}
    role="region"
    aria-label="Code block"
    tabindex="0"
    aria-live="polite"
    aria-roledescription="code block"
    lang="en"
    set:html={html}
  />
</div>

<style>
  .code-block-wrapper {
    position: relative;
  }
  .code-block-wrapper :global(code) {
    line-height: 1.7;
    font-size: 15px;
    counter-reset: step;
    counter-increment: step 0;
    font-family: monospace;
    max-height: 300px;
  }
  .with-line-numbers :global(code .line::before) {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    text-align: right;
    color: oklch(70.5% 0.015 286.067);
    opacity: 1;
  }
  .shiki--code--block {
    width: 100%;
  }
  .code-block-wrapper :global(pre) {
    z-index: 1;
    padding: 14px 20px;
    border-radius: 10px;
    overflow: auto;
    scrollbar-width: none;
    position: relative;
  }
</style>
